html,
body,
#root {
  width: 100%;
}

body {
  background-color: #0a1428;
}
.bg-active,
.btn-red {
  background-color: #ff4545 !important;
  color: white;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.navbar-left {
  width: 350px;
}

.navbar-light {
  border-top: 5px solid #0a1428;
}

.navbar-left .flex-grow-1 {
  border-right: 5px solid #0a1428;
  margin-bottom: 120px;
}

.main-board {
  background-image: url("./assets/image1507.png");
  background-size: cover;
}

.bd-none {
  border: transparent !important;
}

.bd-rounded-5 {
  border-radius: 5px !important;
}

.bd-rounded-12 {
  border-radius: 12px;
}

.bd-rounded-25 {
  border-radius: 25px;
}

.bd-rounded-50 {
  border-radius: 50px;
}

.bg-0A1428 {
  background-color: #0a1428;
}

.bg-12111E {
  background-color: #12111e;
}

.bg-131220 {
  background-color: #131220;
}
.bg-191827 {
  background-color: #191827;
}
.bg-transparent {
  background-color: transparent;
}

.sidebar {
  height: 100vh;
}

.sms {
  height: 100px;
}

.xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-blur {
  box-shadow: 0 0 100px 0px #ff4545b3;
}

.text-blur {
  text-shadow: 0 0 50px #ff4545b3;
}

.nav-link.active,
.active {
  color: #ff4545 !important;
}

.c-grey {
  color: rgba(57, 55, 82, 0.81);
}

.c-8d8d8d {
  color: #8d8d8d;
}

.c-413E61 {
  color: #413e61;
}

.c-46435f {
  color: #46435f;
}

.c-333a46 {
  color: #333a46;
}

.c-726b8d {
  color: #726b8d;
}

.f-decoraction-none {
  text-decoration: none;
}

.f-32 {
  font-size: 32px;
}

.btn-red:hover {
  background-color: #ad3030 !important;
  color: white;
}
.progress-bar {
  background-color: #ff4545 !important;
}

.img-blur {
  background: radial-gradient(#2f7bff54, transparent 75%);
}

.round-border {
  border-top: 5px solid red;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.f-poppins {
  font-family: Poppins;
}

.f-ig {
  font-family: Irish Grover;
}

.f-inter {
  font-family: Inter;
}

.progress,
.progress * {
  border-radius: 15px;
  background-color: #a1a1a152;
}

.progress > .progress-bar {
  position: relative !important;
  overflow: visible;
}

.indicator {
  right: 0;
  bottom: 100%;
}

#top-progress {
  border: 2px solid #ff4545;
  box-shadow: 0px 0px 10px white;

  width: 130px !important;
}

.heat div:hover > h2 {
  cursor: hover;
  text-shadow: 0 0 20px #ff4545;
  transition: ease-in all 300ms;
}

.nav-link:hover {
  color: rgba(235, 45, 45, 0.722);
}

.curser:hover {
  cursor: pointer;
}
