html,
body,
#root {
  width: 100%;
}

body {
  background-color: #0a1428;
}
.bg-active,
.btn-red {
  background-color: #ff4545 !important;
  color: white;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.navbar-left {
  width: 350px;
}

.navbar-light {
  border-top: 5px solid #0a1428;
}

.navbar-left .flex-grow-1 {
  border-right: 5px solid #0a1428;
  margin-bottom: 120px;
}

.bd-none {
  border: transparent !important;
}

.bd-rounded-5 {
  border-radius: 5px !important;
}

.bd-rounded-12 {
  border-radius: 12px;
}

.bd-rounded-25 {
  border-radius: 25px;
}

.bd-rounded-50 {
  border-radius: 50px;
}

.bg-0A1428 {
  background-color: #0a1428;
}

.bg-12111E {
  background-color: #12111e;
}

.bg-131220 {
  background-color: #131220;
}
.bg-191827 {
  background-color: #191827;
}

.sidebar {
  height: 100vh;
}

.sms {
  height: 100px;
}

.xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-color: transparent !important;
}

.nav-link.active,
.active {
  color: #ff4545 !important;
}

.c-grey {
  color: rgba(57, 55, 82, 0.81);
}

.c-413E61 {
  color: #413e61;
}

.c-46435f {
  color: #46435f;
}

.c-726b8d {
  color: #726b8d;
}

.btn-red:hover {
  background-color: #ad3030 !important;
  color: white;
}
.progress-bar {
  background-color: #ff4545 !important;
}

.f-poppins {
  font-family: Poppins;
}

.f-ig {
  font-family: Irish Grover;
}

.f-inter {
  font-family: Inter;
}

.progress,
.progress * {
  border-radius: 15px;
  color: #ff4545 !important;
  background-color: #a1a1a152;
}

#top-progress {
  border: 2px solid #ff4545;
  width: 130px !important;
}

.heat h2 {
  text-shadow: 0 0 10px #ff4545b8;
}

.heat h2:hover {
  cursor: hover;
  text-shadow: 0 0 20px #ff4545b8;
  transition: ease-in all 300ms;
}

.nav-link:hover {
  color: rgba(235, 45, 45, 0.722);
}

.curser:hover {
  cursor: pointer;
}
