html,
body,
#root {
  width: 100%;
}

.navbar {
  border-right: 5px solid #0a1428;
  width: 350px;
}

.bd-rounded-12 {
  border-radius: 12px;
}

.bd-rounded-25 {
  border-radius: 25px;
}

.bd-rounded-50 {
  border-radius: 50px;
}

.bg-0A1428 {
  background-color: #0a1428;
}

.bg-0D1830 {
  background-color: #0d1830;
}

.sidebar {
  height: 100vh;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}
